*{
    margin: 0;
    padding: 0;
    
font-size: 0;

    
    
}

.container{
    display: inline-block;
    justify-content: center;
    width: fit-content;
    align-items: center;
}

.tiles-full{
    height: 44vh;
    width: 40vh;
    border-radius: 7px;
    padding:3px;
    margin-top: 4px;
   border: 0.5px solid rgb(201, 190, 190);
   display: block;
   align-items: center;
    
    
}
.tiles-bottom{
    display: flex;
    margin: 10px;
    margin-bottom: 7px;
    

}
.icon-text{
    display: grid;
    
    padding:3px 8px;
    margin:2px ;
}

.featured-container{
    display: inline-block;
    justify-content: center;
    align-items: center;
    display: grid;
}
.featured-image{
    border: 0.5px solid rgb(201, 190, 190);
    border-radius: 25px;
}
.add-deduct{
    display: flex;
    
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 244px;
    margin-right: 85px;
    padding: 1px 5px 1px 5px;
    position:relative;
}

.beverage-container{
    display: flex;
    justify-content: center;
    align-items:center;
    
    border: 0.5px solid rgb(213, 196, 196);
    border-radius: 12px;
    text-align: center;
    padding: 11px 16px 23px 17px;
    width: 70vh;
    height: 24vh;
    margin-bottom: '40px';
   overflow: hidden;

    
}
.beverage-tile{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    margin-top: 22px;
    
   
   
}

    

.beverage-image img {
   height: 18vh;
   width: 18vh;
border-radius: 37px;
   padding: 30px;
   margin: 0px 9px -46px 172px;
   
  }
  .price{
     margin-top: 70px;
     margin-left:-40px;
     margin-bottom: 40px;
  }
 .browser-container{
    margin-top: 40px;
 }
 