*{
    margin: 0;
    padding: 0;
    
font-size: 0;
    
    
}

.container{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.tiles-full{
    height: 44vh;
    width: 40vh;
    border-radius: 7px;
    padding:3px;
    margin-top: 4px;
   border: 0.5px solid rgb(201, 190, 190);
   display: block;
   align-items: center;
    
    
}
.tiles-bottom{
    display: flex;
    margin: 10px;
    margin-bottom: 7px;
    

}
.icon-text{
    display: grid;
    
    padding:3px 8px;
    margin:2px ;
}

.featured-container{
    display: inline-block;
    justify-content: center;
    align-items: center;
    display: grid;
}
.featured-image{
    border: 0.5px solid rgb(201, 190, 190);
    border-radius: 25px;
}
.add-deduct{
    display: flex;
    padding: 20px;
}