*{
    margin: 0;
    padding: 0;
}

.container{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.tiles-full{
    height: 45vh;
    width: 40vh;
    border-radius: 15px;
    padding:3px;
    margin-top: 15px;
   border: 0.5px solid rgb(201, 190, 190);
   display: block;
   align-items: center;
    
    
}
.tiles-bottom{
    display: flex;
    margin: 10px;
    margin-bottom: 7px;
    

}
.icon-text{
    display: grid;
    margin-left: 10px;
    margin-top: -9px;
    padding-bottom: 2px;
}
@media screen and (max-width: 60px) {
    .icon-text {
      font-size: 30px;
    }
  }