.table-container{
    border: 2px solid black;
   display: inline-block;
   
}


.table-container th{
    font-size: 20px;
    border: 1px solid black;
    padding:2px
}
.table-container td{
    font-size: 18px;
    text-align: start;
    border: 1px solid black;
    padding:2px
}
.table-container input{
    border-radius: 20px;
    padding-left: 10px;
    max-width: 20vh;
}